* { color: #3d4150; }
QPushButton { border-style: none;border: 1px solid #DCDFE6;border-radius: 6px;padding: 5px 10px;font-size: 15px; }
QPushButton:hover { color: #ffffff; font-weight: bold; background-color: #00C5CD; }
QScrollBar:vertical { background:#f5f6f8; padding:0px; border-radius: 3px; width:6px; }
QScrollBar::handle:vertical { background:#C0C4CC; border-radius: 3px; }
QScrollBar::handle:vertical:hover { background:#909399; }
QScrollBar::handle:vertical:pressed { background:#909399; }
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical, QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical { background:none; }
QCheckBox, QRadioButton { font-size: 13px; }
QComboBox, QLineEdit, QTextEdit, QTextBrowser, QTimeEdit, QDateEdit, QDateTimeEdit, QSpinBox,
QDoubleSpinBox { background-color: #ffffff; border: 1px solid #DCDFE6; border-radius: 6px; padding: 5px 10px; font-size: 13px; }
QTextEdit, QTextBrowser { padding-right: 3px; }
QLineEdit:hover, QComboBox:hover, QTimeEdit:hover, QDateEdit:hover, QDateTimeEdit:hover, QSpinBox:hover, QDoubleSpinBox:hover { border: 1px solid #409EFF; }
QComboBox::down-arrow { width:10px; height:10px; right:2px; image:url(:/icons/down.png); }
QComboBox::drop-down { subcontrol-origin:padding; subcontrol-position:top right; width:15px; border-left-width:0px; border-left-style:solid; border-top-right-radius:3px; border-bottom-right-radius:3px; border-left-color:#242424; }
QComboBox QAbstractItemView::item{ min-height:20px; min-width:10px; }
QComboBox::drop-down:on{ top: 1px; }
QTimeEdit::up-button, QDateEdit::up-button, QDateTimeEdit::up-button, QSpinBox::up-button, QDoubleSpinBox::up-button { width:10px; height:10px; image:url(:/icons/up.png); padding: 3px 8px 0px 0px; }
QTimeEdit::down-button, QDateEdit::down-button, QDateTimeEdit::down-button, QSpinBox::down-button, QDoubleSpinBox::down-button { width:10px; height:10px; image:url(:/icons/down.png); padding: 0px 8px 3px 0px; }
QTimeEdit::up-button:pressed, QDateEdit::up-button:pressed, QDateTimeEdit::up-button:pressed, QSpinBox::up-button:pressed, QDoubleSpinBox::up-button:pressed { top: -2px; }
QTimeEdit::down-button:pressed, QDateEdit::down-button:pressed, QDateTimeEdit::down-button:pressed, QSpinBox::down-button:pressed, QDoubleSpinBox::down-button:pressed { bottom: -2px; }
QTabWidget::pane{ border:1px solid #DCDFE6; border-radius: 6px; border-top-left-radius: 0px; background-color: #ffffff; selection-background-color:#ffffff; selection-color:#DCDFE6; alternate-background-color:#f2f1f5; gridline-color:#3d4150; }
QTabBar::tab { border:1px solid #DCDFE6; border-top-left-radius: 6px; border-top-right-radius: 6px; font-size: 13px; background-color: #f2f1f5; padding: 2px 6px; }
QTabWidget::pane:top { top:-1px; }
QTabWidget::pane:bottom { bottom:-1px; }
QTabWidget::pane:left { right:-1px; }
QTabWidget::pane:right { left:-1px; }
QTableWidget{ border: 1px solid #DCDFE6; border-radius: 6px; font-size: 13px;}
QTabBar::tab:selected { background-color: #ffffff; border-bottom: none; }
QGroupBox { border: 2px solid #DCDFE6; border-radius: 6px;/* font-size: 13px;  */ margin-top: 15px;}
QGroupBox::title { subcontrol-origin: margin; subcontrol-position: top center; padding: 0px 5px 3px; }
#w_bg_2 { background-color: #f2f1f5; border-radius: 22px; }
#centralwidget { background-color: #f2f1f5; border-radius: 22px; }
#btn_scan, #btn_open, #btnQuickCheck, #btnChargeOnce, #btnDischargeOnce, #btnMaintain, #btnMaintain, #btnPauseResume  { height: 16px; font-size: 14px; background-color: #f2f2f2; border: 1px solid #DCDFE6; border-radius: 15px; padding: 6px 20px; }
#btn_scan:hover, #btn_open:hover, #btnQuickCheck:hover, #btnChargeOnce:hover, #btnDischargeOnce:hover, #btnMaintain:hover, #btnPauseResume:hover { color: #ffffff; font-weight: bold; background-color: #00C5CD; }
#mode_select_box { border: 2px solid #DCDFE6; border-radius: 6px;/* font-size: 13px;  */ margin-top: 15px;}
